<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Handling Form Submission</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="resources/css/style.css" />
<script type="text/javascript"
	src="resources/scripts/jquery-2.2.3.min.js"></script>
<script>
	$(document).ready(function($) {
		// Get the modal
		var modal = document.getElementById('myModal');

		// Get the image and insert it inside the modal - use its "alt" text as a caption
		$('.myImg').click(function() {
			modal.style.display = "block";
			var path = $(this).attr("src");
			path = path.replace($(this).attr("name"),$(this).attr("name")+"2");
			path = path.replace("img","img/largeimg");
			$("#imgsx").attr("src", path);
			var imgalt = new Number($(this).attr("alt"));
			if($(this).attr("id")=='predict')
			{
				$(".caption").html("Your predicted contribution of \""+$(this).attr("name")+"\" is "+
						imgalt.toFixed(4));	
			}
			else
			{
				$(".caption").html("Your contribution of \""+$(this).attr("name")+"\" is "+
						imgalt.toFixed(4));
			}

		});
		$('.close').click(function() {
			modal.style.display = "none";
		});
	});
</script>
</head>
<body>
	<header>
		<h1>Hero Recommender</h1>
	</header>
	<div id="mainpage">
		<div style="width: 1055px; margin: 0 auto;">
			<p />
			<h1>Top 5 heros that you use best</h1>
			<div class="blur" style="float: left; cursor: pointer;"
				th:each="ori :${resori}">
				<table>
					<tr>
						<td><img id="ori" class="myImg" th:name="${ori.Heroname}"
							th:src="@{/resources/img/}+${ori.Heroname}+@{.png}"
							th:alt="${ori.contribution}" />
							<div id="myModal" class="modal">
								<span class="close">X</span> <img class="modal-content"
									id="imgsx" />
								<div class="caption" ></div>
							</div></td>
					</tr>
				</table>
			</div>
		</div>
		<div style="width: 1055px; margin: 0 auto;">
			<p />
			<h1>Cosin Similarity Recommender</h1>
			<div class="blur" style="float: left; cursor: pointer;"
				th:each="con :${rescon}">
				<table>
					<tr>
						<td><img id="predict" class="myImg" th:name="${con.Heroname}"
							th:src="@{/resources/img/}+${con.Heroname}+@{.png}"
							th:alt="${con.contribution}" />
							<div id="myModal" class="modal">
								<span class="close">X</span> <img class="modal-content"
									id="imgsx" />
								<div class="caption"></div>
							</div></td>
					</tr>
				</table>
			</div>
		</div>
		<div style="width: 1055px; margin: 0 auto;">
			<p />
			<h1>Person Similarity Recommender</h1>
			<div class="blur" style="float: left; cursor: pointer;"
				th:each="per :${resper}">
				<table>
					<tr>
						<td><img id="predict" class="myImg" th:name="${per.Heroname}"
							th:src="@{/resources/img/}+${per.Heroname}+@{.png}"
							th:alt="${per.contribution}" />
							<div id="myModal" class="modal">
								<span class="close">X</span> <img class="modal-content"
									id="imgsx" />
								<div class="caption"></div>
							</div></td>
					</tr>
				</table>
			</div>
		</div>
		<div style="width: 1055px; margin: 10% auto;font-size:2em;">
		<a href="/Recommender/main">
		<p style="text-align:center">Would you wanna try again?</p></a>
		</div>
	</div>
	<footer>Copyright 2016 Zhang and Mao </footer>
</body>
</html>